---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
---

<Layout title="A World Away: Hunting for Exoplanets with AI">
  <main>
    <Hero client:load />
  </main>
</Layout>
